
.input-range__slider {
    box-shadow: 1px 5px 12px #2bc6b6b0;
    background: #26C5AF !important;
    border-color: #2BC6B6 !important;
    height: 2rem !important;
    width: 2rem !important;
    margin-top: -1.15rem !important;
  }
  .input-range__track {
    height: 0.45rem !important;
  }
  .input-range__slider::after {
    content:url('../Images/icon-slider.svg');
    right: 4px;
    bottom: 1px;
    
  }

  .input-range__slider::after, .input-range__slider::before {
    position: absolute;
    color: #71FFF9;
    font-size: 20px;
    /* font-weight: bold; */
  }
  .input-range__track--active {
    background: #26C5AF !important;
  }
  .input-range__label--min, .input-range__label--max, .input-range__label--value{
    display: none !important;
    visibility: hidden !important;
  }
